body {
  background-color: lavenderblush;
}

header {
  background-color: purple;
  color: white;
  padding: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

section {
  padding: 40px;
}

h2 {
  color: purple;
}

footer {
  background-color: purple;
  color: white;
  padding: 20px;
  text-align: center;
}

